<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
    <script src="~/Scripts/LayoutScript.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>

</head>
<body id="body" >
    <header class="h34d3r">
        <nav class="n4v-h34d3r">
            <a href="/">
                <div class="l0g0">
                    <div class="l0g0-c0nt3nt lgct1"> <p>Dao Nguyen</p></div>
                    <div class="l0g0-c0nt3nt lgct2"> <p>Lighting</p></div>
                </div>
            </a>

            <div class="s34rch">
            </div>

            <div class="h34d3r-0pt10n1">
                <a href="@Url.Action("Collection","Home")">
                    <div class="sh4p3">
                        <div class="t3xt">Collections</div>
                    </div>
                </a>           
            </div>
            <div class="h34d3r-0pt10n1">
                <a id="lg" href="@Url.Action("Login","Account")">
                    <div class="sh4p3">
                        <div class="t3xt" id="lgval">Login</div>
                    </div>
                </a>
            </div>
            <div class="h34d3r-0pt10n1">
                <a href="@Url.Action("Cart","Cart")">
                    <div class="sh4p3">
                        <div class="t3xt">Cart</div>
                    </div>
                </a>
            </div>
            <div class="h34d3r-0pt10n1">
                <a href="@Url.Action("Pay","Cart")">
                    <div class="sh4p3">
                        <div class="t3xt">Pay</div>
                    </div>
                </a>
            </div>

        </nav>
    </header>
    <div class="gl0b4l-b0dy">
       
        @RenderBody()

      
    </div>
</body>
</html>

<script>
    @if (Session["UserID"] == null)
    {
        <text>
         $("#lg").attr("href", "/Account/Login")
         $("#lgval").text("Login")
        </text>
    }
    else
    {

        <text>
        $("#lg").attr("href", "/Account/Logout")
        $("#lgval").text("Logout")
        </text>
    }
    var lct = top.location.pathname
    if (top.location.pathname === '/Home/Product' || top.location.pathname === '/') {
        Load_Image_Database();
    }
    else if (lct.slice(0,19) === '/Home/ProductDetail') {
        Show_Product_Detail();
        Zoom_Image();
        Auto_Edit_Padding_Product();
        Auto_Edit_Margin_Product_Detail()
        $(document).keyup(function (e) {
            if (e.keyCode == 27) { Hide_Product(); }
        });
    }

    $(window).resize(function () {
        if (top.location.pathname === '/Home/Product' || top.location.pathname === '/') {
            Load_Image_Database();
        }
        else if (lct.slice(0,19) === '/Home/ProductDetail') {
            Auto_Edit_Padding_Product();
            Show_Product_Detail();
        }
    });
</script>