@model List<DaoNguyenLighting.Models.User>
@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="m4n4g3r-h34d3r">
    <div class="m4n4g3r-h34d3r-n4m3">
        <p>Users</p>
    </div>
</div>

<table>
    <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Option</th>
    </tr>

    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr>
            <td>
                @Model[i].UserID
            </td>
            <td>
                @Model[i].Name
            </td>
            <td>
                @Model[i].Email
            </td>
            <td>
                @Model[i].Phone
            </td>
            <td>
                @Model[i].Address
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = Model[i].UserID })
            </td>
        </tr>
    }

</table>
